<!DOCTYPE html>
<html>
<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="style.css">

<title>Text Summarization</title>
<h1>Text Summarizer</h1>
<p>Text summarization is the creation of a short, accurate, and fluent summary of a longer text document.</p>
<br>
<div class="container">
    <h2>Original Text</h2>
        <label for="freeform" ></label>
        <textarea class="form-control" id="freeform" rows="7" cols="20" name="freeform" placeholder="Enter text here..."></textarea>
</div>
<br>
<div class="btn-container">
    <button class="btn btn-success">Summarize</button>
</div>
<br>
<div class="container">
    <h2>Summarized Text</h2>
        <label for="freeform" ></label>
        <textarea class="form-control" id="freeform" rows="7" cols="20" name="freeform" ></textarea>
</div>
</body>
</html>